{% extends 'seller/seller_base.html' %}

{% block content_extra %}
    <div class="card-body bg-white mt-3 py-2 rounded">
        <div class="container-fluid">
            {% if seller_additional_info.values %}
                {% for name, info in seller_additional_info.items %}
                    {% if info %}
                        <div class="d-inline-flex gap-1">
                            <h6>{{ name }}: </h6>
                            <p>{{ info }}</p>
                        </div>
                    </br>
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class=text-center>
                    <h5>This seller has not provided any contact information</h5>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}