{% load custom_filters %}

{% for comment in comments %}
    <div class="list-group-item">
        <div class="card-body bg-white mt-3 py-2 rounded">
            <div class="container-fluid">
                <div class="d-flex justify-content-between">
                    {% if your_comments %}
                        <h6>Comment about {{ comment.item.model }}</h6>
                    {% else %}
                        {% if comment.user.username %}
                            <h6>{{ comment.user.username }}</h6>
                        {% else %}
                            <h6>{{ comment.first_name }} {{ comment.last_name }}</h6>
                        {% endif %}
                    {% endif %}
                    {% if comment.rating %}
                        <p>{{ comment.rating }} stars</p>
                    {% endif %}
                </div>   
                <p>{{ comment.comment_date.date }}</p>

                <p>{{ comment.comment }}</p>

                {% if comment.advantages %}
                    <p>Advantages: {{ comment.advantages }}</p>
                {% endif %}

                {% if comment.disadvantages %}
                    <P>Disadvantages: {{ comment.disadvantages }}</P>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}