{% load custom_filters %}

<nav class="nav" style="background-color: rgb(196, 111, 0);">
  <div class="container-fluid py-2">
    <div class="row">
      <div class="col-md-1" style="width: 200px;">
        <a class="navbar-brand" href="{% url 'frontpage' %}"><h4 style="margin-top: 5px;">Catalog</h4></a>
      </div>
      <div class="col-md-8 content-end">
        <form method="GET" class="mt-1" role="search" action="." style="display: flex;">
          <input name='query' value="{{ query }}" class="form-control me-2" type="search" placeholder="I'm looking for..." aria-label="Search">
          <button class="btn btn-warning" type="submit">Search</button>
        </form>
      </div>
      <div class="col-md-2 justify-content-end">
        <div class="d-inline-flex gap-3">
          <a href="{% url 'account:history' %}" style="text-decoration: none; color: inherit;">
            {% if profile_image %}
              <img src="{{ profile_image.url }}" style="width: 45px; height: 45px;" alt="User Avatar" class="avatar-image">
            {% else %}
              <button class="btn rounded" type="button" style="background-color: rgb(254,146,23 );">Account</button>
            {% endif %}        
          </a>
          <a href="{% url 'item:add_update_item' %}" class="fas fa-plus" style="text-decoration: none; color: inherit; font-size: 2rem; line-height: 1; margin-top: 7px; margin-left: 11px;"></a>
          <a href="{% url 'item:favorites' %}" class="far fa-heart" id="favorites_heart_link" style="text-decoration: none; color: inherit; font-size: 2rem; line-height: 1; margin-top: 7px; margin-left: 11px;"></a>
          <a href="{% url 'item:compare' %}" class="fas fa-balance-scale-right" style="text-decoration: none; color: inherit; font-size: 2rem; line-height: 1; margin-top: 7px; margin-left: 11px;"></a>
          <button class="navbar-toggler" type="submit" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation"  style="border: none;">
            <span class="fas fa-shopping-cart fa-lg"></span>
          </button>      
        </div>
      </div>
    </div>  
  </div>
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header" style="background-color: rgba(255, 136, 0, 0.905);">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Cart</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body" style="background-color: rgb(243, 243, 243)">
        {% if request.user.is_authenticated %}
          {% if sellers_data %}
            {% for seller_data in sellers_data.values %}
              <div class="card-body mb-3 bg-white rounded">
                <div class="list-group list-group-flush">
                  <div class="list-group-item">
                    <div class="container-fluid py-1">
                      <div class="row">
                        {% if seller_data.seller.personal_information_user.get.avatar %}
                        <div class="col-md-2">
                            <div class="container d-flex align-items-center" style="width: 50px; height: 50px;">
                                <img src="{{ seller_data.seller.personal_information_user.get.avatar.url }}" style="width: 40px; height: 40px;" alt="User Avatar" class="avatar-image">
                            </div>
                          
                        </div>
                        <div class="col-md-9">
                        {% else %}
                        <div class="col-md-12">
                        {% endif %}
                            <div class="contaniner" style="margin-top: 10px;">
                              <h6>{{ seller_data.seller.username }}</h6>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="list-group-item">
                    <div class="container-fluid">
                      <div class="list-group list-group-flush">
                        {% for cart_item in seller_data.items %}
                        <div class="list-group-item">
                          <div class="py-2">
                            <div class="row">
                              <div class="col-md-3 mt-3">
                                {% if cart_item.item.image and cart_item.item.image.url %}
                                <img src="{{ cart_item.item.image.url }}" style="max-width: 80px; max-height: 100%; margin-left: -10px;">
                                {% else %}
                                    <p>No image available</p>
                                {% endif %}
                              </div>
                              <div class="col-md-9">
                                <div class="d-flex justify-content-between">
                                  <h7>{{ cart_item.item.model|format_string|safe }}</h7>
                                  <a href="{% url 'order:delete_from_cart' pk=cart_item.id %}" class="btn btn-danger" type="submit">del</a>
                                </div>
                                <h7>{% if cart_item.item.availability %}Available{% else %}Not available{% endif %}</h7>
                                <p>{{ cart_item.item.price }} $/ per item </p>
                                <div class="d-flex justify-content-between">
                                  <form method="POST" action="{% url 'order:change_amount_items' pk=cart_item.id %}">
                                    {% csrf_token %}
                                    <div class="d-flex justify-content-between">
                                      <button class="amount-cart-item btn btn-sm btn-outline-warning p-1" type="submit" name="action" value="decrease">-</button>
                                      <p>{{ cart_item.amount}} </p>
                                      <button class="amount-cart-item btn btn-sm btn-outline-warning p-1" type="submit" name="action" value="increase">+</button>    
                                    </div>
                                  </form>                            
                                  <h4>{{ cart_item.total_item_price }} $</h4>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                  <div class="list-group-item">
                    <div class="container-fluid py-1">
                      <div class="d-flex justify-content-between">
                        <h7>Total price will be:</h7>
                        <h4>{{ seller_data.total_price }} $</h4>
                      </div>
                      <div class="row">
                        <a href="{% url 'order:order' seller_id=seller_data.seller.id total_price=seller_data.total_price total_amount=seller_data.total_amount %}" class="btn btn-warning" type="button">Purchase</a>
                        <a href="#" class="btn btn-outline-warning mt-1" type="button">Add another items</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <h3>It seems you haven't added any items in your cart yet. Take your first.</h3>
          {% endif %}
        {% else %}
          <h3>You need to be authenticated in order to make a purchase.</h3>
        {% endif %}
    </div>
  </div>
</nav>

<script>
  document.getElementById('favorites_heart_link').addEventListener('click', function () {
    localStorage.removeItem('is_available');
  }); 
</script>