{% extends 'core/base.html' %}

{% block navbar %}
{% endblock %}

{% load custom_filters %}

{% block content %}
<div class="container-fluid mt-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'frontpage' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'item:items' %}? query={{ query }}&category={{ item.category_brand.category.id }}">{{ item.category_brand.category }}</a></li>
          <li class="breadcrumb-item"><a href="{% url 'item:items' %}? query={{ query }}&category={{ item.category_brand.category.id }}&brand={{ item.category_brand.brand.id }}">{{ item.category_brand.brand }}</a></li>
          <li class="breadcrumb-item"><a href="{% url 'item:details' item.id %}">{{ item.model|format_string|safe }}</a></li>
          <li class="breadcrumb-item active" aria-current="page">Comments</li>
        </ol>
      </nav>


    {% if messages %}
        {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>    
        {% endfor %}
    {% endif %}

    <div class="d-inline-flex gap-3">
        <div style="position: relative;">
            <p style="position: absolute; top: -10px; right: -95px;">{{ comments.count }} comments</p>
            <h4>Comments about {{ item.model }}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="card-body bg-white rounded">
                <div class="container py-3">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="list-group list-group-flush">
                                {% if comments %}
                                    {% render_comments comments %}
                                {% else %}
                                    No comments yet...
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="container">
                                <div class="row">
                                    <a href="#comment-form" class="btn btn-warning mb-3" type="button">Leave a comment</a>
                                </div>    
                            </div>
                        </div>
                    </div> 

                    <form method="POST" action=".">
                        {% csrf_token %}
                        <h4 id="comment-form">Leave comment</h4>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="d-inline-flex gap-3 mt-3">
                                    <h5>My rate: </h5>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="radio1" value="1">
                                        <label class="form-check-label" for="radio1">1</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="radio2" value="2">
                                        <label class="form-check-label" for="radio2">2</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="radio3" value="3">
                                        <label class="form-check-label" for="radio3">3</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="radio4" value="4">
                                        <label class="form-check-label" for="radio4">4</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="radio5" value="5">
                                        <label class="form-check-label" for="radio5">5</label>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    {{ form.advantages }}
                                </div>
                                <div class="mt-3">
                                    {{ form.disadvantages }}
                                </div>
                                <div class="mt-3">
                                    {{ form.email }}
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mt-3">
                                            {{ form.first_name }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mt-3">
                                            {{ form.last_name }}
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    {{ form.comment }}
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="col-md-4">
                                <div class="row">
                                    <button class="btn btn-warning mt-3" type="submit">Send</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-body bg-white rounded">
                <div class="container py-3">
                    <a href="{% url 'item:details' item.id %}" style="text-decoration: none; color: inherit;">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="text-center">
                                    <img src="{{ item.image_url }}" style="max-width: 80px; max-height: 100%;">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h6 class="mt-3">{{ item.model }}</h6>
                            </div>
                        </div>
                        <h4 class="mt-3">{{ item.price }}$</h4>
                        <div class="container">
                            <div class="row">
                                <a href="{% url 'order:add_to_cart' pk=item.id amount=1 %}" class="btn btn-warning mt-3" type="button">Add to cart</a>
                            </div>    
                        </div>    
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}