{% extends 'core/base.html' %}

{% block title %}Items{% endblock %}

{% load custom_filters %}

{% block content %}
<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'frontpage' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'item:items' %}? query={{ query }}&category={{ item.category_brand.category.id }}">{{ item.category_brand.category }}</a></li>
          <li class="breadcrumb-item"><a href="{% url 'item:items' %}? query={{ query }}&category={{ item.category_brand.category.id }}&brand={{ item.category_brand.brand.id }}">{{ item.category_brand.brand }}</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ item.model }}</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-md-7">
            <div class="card-body bg-white">
                <div class="container-fluid py-3">
                    <div class="list-group list-group-flush">
                        <div class="list-group-item">
                            <div class="d-inline-flex gap-3">
                                <a href="#review-section" class="h6">Review</a>
                                <a href="#features-section" class="h6">Features</a>
                                <h6>Availability</h6>
                                <a href="#comments-section" class="h6">Comments</a>
                                <h6>Product photo</h6>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="card-body bg-white">
                                <div class="container-fluid">
                                    <div class="text-center">
                                        {% if item.image and item.image.url %}
                                        <img src="{{ item.image.url }}" style="max-width: 300px; max-height: 100%;">
                                        {% else %}
                                            <p>No image available</p>
                                        {% endif %}
                                    </div>
                                    <div class="text-center">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card-body bg-white py-3" style="margin-left: -15px;">
                <div class="container-fluid">
                    <div class="d-flex justify-content-between">
                        <h5 id="review-section">{{ item.model }}</h5>
                        <p>Item code: {{ item.id }}</p>
                    </div>
                    {% if item.availability %}
                        <p>Available</p>
                    {% endif %}

                    {% if comments %}
                        <p>{{ comments.count }} comments</p>
                    {% else %}
                        <p>No comments</p>
                    {% endif %}
                    
                    <h4>{{ item.price }}$</h4></br>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <a href="{% url 'order:add_to_cart' pk=item.id amount=1 %}" class="btn btn-warning py-2" type="button">Add to cart</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <a href="{% url 'order:add_to_cart' pk=item.id amount=1 %}" class="btn btn-outline-warning py-2" type="button" style="margin-left: 10px;">Message</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body bg-white py-3 mt-2" style="margin-left: -15px;">
                <div class="container-fluid">
                    <h5>Seller</h5>                    
                    <div class="d-inline-flex gap-3">
                        {% if seller_info.avatar %}
                            <div class="text-center">
                                <img src="{{ seller_info.avatar.url }}" style="width: 70px; height: 70px;" alt="User Avatar" class="avatar-image">
                            </div>
                        {% else %}
                            <p>No avatar image...</p>
                        {% endif %}
                        <div>
                            <h6>{{ seller_info.user.first_name }} {{ seller_info.user.last_name }}</h6>
                            {% if seller_info.phone_number %}
                                <p>{{ seller_info.phone_number }}</p>
                            {% endif %}
                            {% for name, info in seller_additional_info.items %}
                                {% if info %}
                                    <div class="d-inline-flex gap-1">
                                        <h6>{{ name }}: </h6>
                                        <p>{{ info }}</p>
                                    </div>
                                </br>
                                {% endif %}
                            {% endfor %}
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <h3 id="features-section" class="py-3">Features and description</h3>

    <div class="card-body bg-white py-3">
        <div class="container-fluid">
            {{ item.description }}
        </div>
    </div>

    <h3 id="comments-section" class="py-3">Comments</h3>

    <div class="card-body bg-white">
        <div class="container-fluid py-3">
            <div style="overflow-y: auto; max-height: 400px;">
                <div class="list-group list-group-flush">
                    {% if comments %}
                        {% render_comments comments %}
                    {% else %}
                        No comments yet...
                    {% endif %}
                </div>
            </div>
            <div class="d-flex justify-content-between mt-2">
                <a href="{% url 'item:comments' item.id %}">All comments</a>
                <a href="{% url 'item:comments' item.id %}#comment-form">Leave a comment</a>    
            </div>    
        </div>
    </div>
        
    <h3 class="mt-3">Related items</h3>

    <div class="container-fluid mb-5">
        <div class="col-md-12">
            {% render_items related_items request %}
        </div>
    </div>
</div>
    
{% endblock %}