{% extends 'core/base.html' %}

{% block title %}Items{% endblock %}

{% block content %}
{% if items %}
<div class="container-fluid">
    <div class="d-flex">
        {% if path %}
            <a href="{% url 'frontpage' %}" class="mr-0 text-decoration-none">GadgetGrove/</a>
            <p class="mb-0">{{ path }}</p>
        {% endif %}
    </div>
    
    
    <div class="d-flex">
        {% if query %}
            <h5>By searching for "{{ query }}" we found {{ items.count }} items:</h5>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-2 mt-3">
            <div class="text-center">
                <h3>Filters</h3>
            </div>
            <div class="text-left">
                <h5>Brands</h5>
            </div>
            <form methon="GET" action="{% url 'item:items' %}">
                {% for brand in brands %}
                    <div class="form-check">
                        <label class="form-check-label" for="flexCheck{{ brand.id }}">
                            <input class="form-check-input" type="checkbox" name="selected_brands" value="{{ brand.id }}" id="flexCheck{{ brand.id }}">
                            {{ brand.name }}
                        </label>
                    </div>
                    
                {% endfor %}
    
                <input type="hidden" name="category" value="{{ category_id }}">
                <input type="hidden" name="action" value="form">
                
                <div class="mt-3">
                    <button class="btn btn-warning" type="submit">Find</button>
                    <a href="{% url 'frontpage' %}" class="btn btn-success">Clear filter</a>
                </div>
            </form>
                    
        </div>
        <div class="col-md-10">
            <div class="row">
                {% if items %}
                    {% for item in items %}
                        <div class="col-md-2 mt-3">
                            <a href="{% url 'item:details' item.id %}" style="text-decoration: none; color: inherit;">
                                <div class="card bg-light rounded mt-3" style="width: 200px; height: 300px;">
                                    <div class="text-center mt-3">
                                        <div style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
                                            <img src="{{ item.image_url }}" alt="Phone Image" style="max-width: 90%; max-height: 90%;">
                                        </div>
                                    </div>
                                    <div class="text-align: left;">
                                        <h5 class="card-title">{{ item.model }}</h5>
                                    </div>
                                    <div class="text-align: left;">
                                        <div class="d-flex justify-content-between">
                                            <p>{{ item.price }}$</p>
                                            <a href='{% url "order:add_to_cart" pk=item.id amount=1 %}' class="btn btn-outline-warning" type="button">Add to cart</a>   
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% else %}
                    Nothing here
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% else %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h4>Nothing was found for the query "{{ query }}"</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h4>Tips for a successful search:</h4>
                        <p>1. Try searching by brand, model or product feature;</p>
                        <p>2. Check the spelling of keywords;</p>
                        <p>3. Broaden your search query using more or fewer commin words.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}



{% endblock %}