{% extends 'core/base.html' %}

{% block title %}Items{% endblock %}

{% load custom_filters %}

{% block content %}
{% if items %}
<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'frontpage' %}">Home</a></li>
            {% if category %}
                <li class="breadcrumb-item"><a href="{% url 'item:items' %}? query={{ query }}&category={{ category.id }}">{{ category }}</a></li>
            {% endif %}
            {% if path %}
                <li class="breadcrumb-item active" aria-current="page">
                    {{ path }}
                </li>
            {% endif %}
        </ol>
    </nav>
    
    
    <div class="d-flex">
        {% if query %}
            <h5>By searching for "{{ query }}" we found {{ items.count }} items:</h5>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-2 mt-3">
            <div class="text-center">
                <h3>Filters</h3>
            </div>
            <div class="text-left">
                <h5>Brands</h5>
            </div>
            <form methon="GET" action="{% url 'item:items' %}">
                {% for brand in brands %}
                    <div class="form-check">
                        <label class="form-check-label" for="flexCheck{{ brand.id }}">
                            <input class="form-check-input" type="checkbox" name="selected_brands" value="{{ brand.id }}" id="flexCheck{{ brand.id }}">
                            {{ brand.name }}
                        </label>
                    </div>
                    
                {% endfor %}
    
                <input type="hidden" name="category" value="{{ category_id }}">
                <input type="hidden" name="action" value="form">
                
                <div class="mt-3">
                    <button class="btn btn-warning" type="submit">Find</button>
                    <a href="{% url 'frontpage' %}" class="btn btn-success">Clear filter</a>
                </div>
            </form>
                    
        </div>
        <div class="col-md-10">
            {% render_items items request %}        
        </div>
    </div>
</div>
{% else %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h4>Nothing was found for the query "{{ query }}"</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h4>Tips for a successful search:</h4>
                        <p>1. Try searching by brand, model or product feature;</p>
                        <p>2. Check the spelling of keywords;</p>
                        <p>3. Broaden your search query using more or fewer commin words.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}



{% endblock %}