{% extends 'core/base.html' %}

{% block title %}Placing an order{% endblock %}

{% block navbar %}
{% endblock %}

{% block navbar_main %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block content %}
<nav class="navbar">
    <div class="container-fluid">
        <a href="{% url 'frontpage' %}" class="navbar-brand h1">&lt;</a>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <p class="text-center h5">Placing an order</p>
                </div>
            </div>
        </div>
    </div>
</nav>
{% if post_check %}
    <div class="container">
        <div class="card-body bg-light">
            <div class="container">
                <h4>Thank you for the order! Soon it will be processed and you will receive a message or call from the owner of the goods.</h4>
                <div class="row">
                    <a href="{% url 'frontpage' %}" class="btn btn-outline-warning">Back for shopping</a>
                </div>
            </div>
        </div>
    </div>
{% else %}
<form method='POST' action='.' class="row g-3">
    {% csrf_token %}
    <div class="container mb-3 mt-3">
        <div class="row">
            <div class="col-md-8">
                <div class="container">
                    <div class="text-left">
                        <h6>Contact details*</h6>
                    </div>
                    <div class="card-body bg-light mt-3">
                        <div class="container">
                            {{ contact_form.as_p }}
                        </div>
                    </div>
                </div>
                <div class="container mt-3">
                    <div class="text-left">
                        <h6>Delivery*</h6>
                    </div>
                    <div class="card-body bg-light mt-3">
                        <div class="container">
                            {{ shipping_form.as_p }}
                        </div>
                    </div>
                </div>                     
            </div>
            
            <div class="col-md-4">
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="d-flex">
                            <h6>Your order:</h6>&nbsp;
                            <h6>{{user_cart_items.count}} items</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h7>Order cost:</h7>
                            <h4>{{ total_price }} $</h4>
                            <input type="hidden" name="total_price" value="{{ total_price }}">
                        </div>
                        <div class="row p-1">
                            <button class="btn btn-outline-warning" type="submit">Checkout</button>       
                        </div>
                    </div>
                </div>
                <div class="card-body bg-light rounded">
                    {% for item in user_cart_items %}
                        <div class="card mb-2">
                            <div class="row">
                                <div class="col-md-4 mt-2 mb-2 text-center">
                                    <img src="{% if item.item.image_url %}{{ item.item.image_url }}{% else %}no image{% endif %}" width="80">
                                </div>    
                                <div class="col-md-8">
                                    <div class="col-md-8">
                                        <h7>{{ item.item.model }}</h7>
                                    </div>
                                    <div class="col-md-8">
                                        <h7>{{ item.amount }} items.</h7>
                                    </div>
                                    <div class="col-md-8">
                                        <p>{{ item.item.price }} $/ per item </p>    
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}               
                </div>
            </div>
        </div>
    </div>

    {% if form.errors or form.non_field_errors %}
         {%for field in form%}
            {% for error in field.errors %}
                <h3>{{ error|escape }}</h3>
            {% endfor %}
        {% endfor %}

        {{ form.non_field_errors }}
    {% endif %}

</form>
{% endif %}

{% endblock %}