{% extends 'account/account_base.html' %}

{% load custom_filters %}

{% block extra_content %}
<div class="card-body bg-white rounded py-2">
    <div class="container">
        <h4>Favorites</h4>
    </div>
</div>
<div class="card-body bg-white rounded py-2 mt-3">
    <li class="list-group-item">
        <div class="container">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <h5>Item category</h5>
                            <select class="filter-field form-select" id="category-select" aria-label="Default select example">
                                <option value="-1">All categories</option>
                                {% if all_categories %}
                                    {% for category in all_categories %}
                                        <option value="{{ category.id }}" {% if selected_category == category.id %}selected{% endif %}>{{ category.name }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                        <div class="col-md-4 text-center">
                            <h5>Seller</h5>
                            <select class="filter-field form-select" id="seller-select" aria-label="Default select example">
                                <option value="-1">All sellers</option>
                                {% if all_sellers %}
                                    {% for seller in all_sellers %}
                                        <option value="{{ seller.username }}" {% if selected_seller == seller.username %}selected{% endif %}>{{ seller.username }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>

                        </div>
                        <div class="col-md-4 text-center">
                            <div class="d-inline-flex gap-1" style="margin-top: 30px;">
                                <a class="btn btn-outline-secondary" type="button">Discount</a>
                                <button class="btn {% if is_available == 'true' %}btn-secondary{% else %}btn-outline-secondary{% endif %}" id="is_available" type="button">Available</button>        
                            </div>
                        </div>
                        <div class="mt-3">
                            <input type="text" class="form-control" id="favorites-input-field" placeholder="Search by item name">
                        </div>
                    </div>
                </li>
                {% if items.all %}
                    {% for item in items.all %}
                        <li class="list-group-item">
                            <div class="row py-3">
                                <div class="col-md-3 text-center">
                                    <a href="{% url 'item:details' item.id %}" style="text-decoration: none; color: inherit;">
                                        {% if item.image and item.image.url %}
                                        <img src="{{ item.image.url }}" width="80">
                                        {% else %}
                                            <p>No image available</p>
                                        {% endif %}
                                    </a>
                                </div>

                                <div class="col-md-2">
                                    <a href="{% url 'item:details' item.id %}" style="text-decoration: none; color: inherit;">
                                        <h6>{{ item.model }}</h6>
                                        <p>{% if item.availability %}Available{% else %}Not available{% endif %}</p>
                                        <h6>{{ item.price }} $/per item</h6>
                                    </a>
                                </div>
                                <div class="col-md-3 text-center">
                                    <h6>Seller</h6>
                                    <p>{{ item.created_by }}</p>
                                </div>
                                <div class="col-md-3 text-end">
                                    <div class="d-inline-flex gap-3">
                                        <a href="{% url 'order:add_to_cart' pk=item.id amount=1 %}" class="btn btn-warning btn-sm">Add to cart</a>
                                        <a href="#" class="btn btn-outline-warning btn-sm" type="button"><h3>...</h3></a>
                                    </div>
                                </div>
                                <div class="col-md-1 text-center">
                                    <a href="{% url 'item:add_delete_favorites_compare' item.id %}?model_option='favorites" type="button" class="btn-close"></a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                {% else %}
                    <div class="card-body bg-white mt-3 py-5">
                        <div class="container text-center">
                            <h4>It looks like you don't have anything added to your favorites. Click the icon to add the product to your favorites.</h4>
                            <a href="{% url 'frontpage' %}" class="btn btn-warning" type="button">Return to shopping</a>
                        </div>
                    </div>
                {% endif %}
            </ul>
        </div>
    </li>
</div>
{% endblock %}

{% block script %}
<script>
    function availability() {
        var is_available = localStorage.getItem('is_available');
        if (is_available == null) {
            is_available = true;
        } else {
            if (is_available === 'false') {
                is_available = true;
                console.log(`true_is_available: ${is_available}`);
            } else {
                is_available = false;
                console.log(`false_is_available: ${is_available}`);
            }
        }

        localStorage.setItem('is_available', is_available);
    };

    document.getElementById('category-select').addEventListener('change', function () {
        var selectedCategory = this.value;
        var is_available = localStorage.getItem('is_available');
        var selectedSeller = document.getElementById('seller-select');
        var seller_username = selectedSeller.value;
        window.location.href = `/items/favorites/?seller=${seller_username}&category=${selectedCategory}&is_available=${is_available}`;
    });

    document.getElementById('seller-select').addEventListener('change', function () {
        var is_available = localStorage.getItem('is_available');
        var selectedSeller = this.value;
        var selectedCategory = document.getElementById('category-select');
        var category_name = selectedCategory.value;
        window.location.href = `/items/favorites/?seller=${selectedSeller}&category=${category_name}&is_available=${is_available}`;
    });

    document.getElementById('is_available').addEventListener('click', function () {
        availability();
        var is_available = localStorage.getItem('is_available');
        var selectedSeller = document.getElementById('seller-select');
        var selectedCategory = document.getElementById('category-select');
        var category_name = selectedCategory.value;
        var seller_username = selectedSeller.value;
        window.location.href = `/items/favorites/?seller=${seller_username}&category=${category_name}&is_available=${is_available}`;
    }); 

    document.getElementById('favorites-input-field').addEventListener('change', function () {
        var searchValue = this.value;
        localStorage.removeItem('is_available')
        window.location.href = `/items/favorites/?input=${searchValue}`;
    });      
</script>
{% endblock %}