{% extends 'account/account_base.html' %}

{% load custom_filters %}

{% block extra_content %}
    <div class="card-body bg-white rounded py-2">
        <div class="container">
            <h4>My Comments</h4>
        </div>
    </div>
    <div class="card-body bg-white rounded mt-3">
        <div class="container-fluid">
            <div class="list-group list-group-flush">
                {% if comments %}
                    {% render_comments comments 'my_comments' %}
                {% else %}
                    No comments yet...
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}