{% extends 'account/account_base.html' %}

{% block extra_content %}
<div class="card-body bg-white rounded">
    <div class="container py-3">
        <h5>Settings</h5>
        <div class="d-inline-flex gap-3 mt-2">
            <a href="{% url 'account:settings' %}" class="h6 btn btn-outline-warning rounded-l active" type="button">Personal information</a>
            <a href="#" class="h6 btn btn-outline-warning rounded-l" type="button">Login and password</a>
        </div>
    </div>
</div>
<form method="POST" enctype="multipart/form-data" action="{% url 'account:settings' %}">
    {% csrf_token %}
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>Error!</strong> {{ error }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endfor %}

            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Error!</strong> {{ form.non_field_errors }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    <div class="card-body bg-white rounded mt-3">
        <div class="container">
            <div class="py-3">
                <h5>Personal information</h5>
            </div>
            <div class="row py-3">
                <div class="col-md-4">
                    <h6>{{ info_form.username.label_tag }}</h6>
                    {{ info_form.username }}                
                </div>
                <div class="col-md-4">
                    <h6>{{ info_form.first_name.label_tag }}</h6>
                    {{ info_form.first_name }}
                </div>
                <div class="col-md-4">
                    <h6>{{ info_form.last_name.label_tag }}</h6>
                    {{ info_form.last_name }}
                </div>
            </div>
            <div class="mt-3">
                <h5>Avatar</h5>
            </div>
            <div class="py-3">
                {{ full_info_form.avatar_url }}
            </div>
            <div class="mt-3">
                <h5>Gender and family</h5>
            </div>
            <div class="mt-3">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="selected_gender" value="male" id="RadioMale" {% if gender == 'male' %}checked{% endif %}>
                    <label class="form-check-label" for="RadioMale">
                        Male
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="selected_gender" value="female" id="RadioFemale"{% if gender == 'female' %}checked{% endif %}>
                    <label class="form-check-label" for="RadioFemale">
                        Female
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="is_married" value="married" id="CheckMerried" {% if married %}checked{% endif %}>
                    <label class="form-check-label" for="CheckMerried">
                      Married
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="have_children" value="have_children" id="CheckHaveChildren" {% if have_children %}checked{% endif %}>
                    <label class="form-check-label" for="CheckHaveChildren">
                        Have children
                    </label>
                </div>              
            </div>
            <div class="mt-3">
                <h5>Date of Birth</h5>
            </div>
            <div class="mt-3 d-inline-flex gap-2">
                {{ date_of_birth_forms.selected_day }}    
                {{ date_of_birth_forms.selected_month }}    
                {{ date_of_birth_forms.selected_year }}    
            </div>
            <div class="mt-4">
                <h5>Contact information</h5>
            </div>
            <div class="mt-3">
                <h6>{{ full_info_form.phone_number.label_tag }}</h6>
            </div>
            <div class="mt-1">
                {{ full_info_form.phone_number }}
            </div>
            <div class="mt-3">
                <h5>Social profiles</h5>
            </div>
            <div class="row">
                <div class="container">
                    <h6 class="mt-2">{{ full_info_form.facebook_url.label_tag }}</h6>
                    {{ full_info_form.facebook_url }}
                    <h6 class="mt-2">{{ full_info_form.instagram_url.label_tag }}</h6>
                    {{ full_info_form.instagram_url }}
                    <h6 class="mt-2">{{ full_info_form.twitter_url.label_tag }}</h6>
                    {{ full_info_form.twitter_url }}
                    <h6 class="mt-2">{{ full_info_form.google_url.label_tag }}</h6>
                    {{ full_info_form.google_url }}
                    <h6 class="mt-2">{{ full_info_form.pinterest_url.label_tag }}</h6>
                    {{ full_info_form.pinterest_url }}    
                </div>
            </div>
            <div class="mt-4">
                <h5>Additional information</h5>
            </div>
            <div >
                <h6 class="mt-2">{{ full_info_form.about.label_tag }}</h6>
                {{ full_info_form.about }}
                <h6 class="mt-2">{{ full_info_form.hobby.label_tag }}</h6>
                {{ full_info_form.hobby }}
                <h6 class="mt-2">{{ full_info_form.interests.label_tag }}</h6>
                {{ full_info_form.interests }}
            </div>
            <div class="d-inline-flex gap-2 py-3">
                <button class="btn btn-warning" type="submit">Save profile</button>
                <a href="#" class="btn btn-outline-secondary" type="button">Delete profile</a>
            </div>
        </div>
    </div><br/><br/><br/>
</form>

{% endblock %}