{% extends 'core/base.html' %}

{% block title %}Buyer's account{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-4">
            <div class="card-body bg-white rounded">
                <div class="container">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4">
                                    {% if profile_image %}
                                    <div class="text-center">
                                        <img src="{{ profile_image.url }}" style="width: 70px; height: 70px;" alt="User Avatar" class="avatar-image">
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="col-md-8">
                                    <div class="text-left">
                                        <h3>{{ request.user.first_name }} {{ request.user.last_name }}</h3>
                                        <p>{% if user_phone %}{{ user_phone }}{% else %}{{ request.user.email }}{% endif %}</p>
                                        <p>{{ orders.count }} orders</p>            
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% for link, names in menu.items %}
                        <li class="list-group-item py-3">
                            <a {% if link %}href='{% url link %}'{% else %}href='#'{% endif %} 
                                {% if names.0 == "ads" %}id="ads_link"
                                {% else %}{% if names.0 == "favorites" %}id="favorites_link"{% endif %}{% endif %} 
                                {% if option == names.0 %}style="font-weight: bold; color: inherit;"
                                {% else %}style="text-decoration: none; color: inherit;"{% endif %}>
                                {{ names.1 }}
                            </a> 
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8" style="margin-left: -15px;">
            {% block extra_content %}{% endblock %}
        </div>
    </div>
</div>    

{% endblock %}

{% block script %}
<script>
    document.getElementById('ads_link').addEventListener('click', function() {
        event.preventDefault();
        localStorage.setItem('trigger', false);
        window.location.href = `/account/ads/`;
    });
</script>
{% endblock %}