{% extends 'account/account_base.html' %}

{% load custom_filters %}

{% block extra_content %}
<div class="card-body bg-white rounded py-2">
    <div class="container">    
        <h4>Orders</h4>
    </div>
</div>
{% if orders %}
<div>
    {% for order in orders %}
        <div class="card-body bg-white mt-3 rounded">
            <div class='container-fluid'>
                <div class="d-flex justify-content-between">
                    <h5 class="mt-3">{{ order.status }}</h5>
                    <p class="mt-3">{{ order.order_date }}</p>
                </div>
                
                <p>#{{ order.id }}</p>
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="gallery-container overflow-auto">
                                <div class="d-flex">
                                    {% if orders %}                                    
                                        {% render_items_2 order.orderItems.all order.id %}
                                    {% else %}
                                        <h5>Nothing here...</h5>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mt-3">
                        <h5>To pay: </h5>
                        <h5>{{ order.total_price }}$</h5>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-5 mb-3">
                            <div class="row">
                                <a href="#" class="btn btn-outline-warning" type="button">Owner's number</a>
                            </div>
                        </div>
                        <div class="col-md-2 mb-3">
                            <div class="text-center">
                                <a href="#" class="btn btn-outline-warning" type="button">additional</a>
                            </div>
                        </div>
                        <div class="col-md-5 mb-3">
                            <div class="row">
                                <a href="#" class="btn btn-warning" type="button">Add an order comment</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% else %}
<div class="card-body bg-white mt-3 py-5">
    <div class="container">
        <h4>You have no orders yet. We have lots of good stuff, maybe you like something.</h4>
        <div class="text-center">
            <a href="{% url 'frontpage' %}" class="btn btn-warning" type="button">Go shopping</a>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}